<footer>
    <div class="blocks container">
        <div>
            <span class="logo">IT-ОФФЕР</span>
        </div>
        <div>
            <h4>Contact us</h4>
            <p>itoffer.team@gmail.com</p>
        </div>
    </div>
</footer>
