<footer>
    <div class="blocks container">
        <div>
            <span class="logo">IT-ОФФЕР</span>
        </div>
        <div>
            <h4>Contact us</h4>
            <p>itoffer.team@gmail.com</p>
            <p><a href="https://t.me/skreenshot_sk">Telegram</a></p>
        </div>
    </div>
    <hr>
    <p>Copyright ® 2024 IT-OFFER</p>
</footer>