<footer>
    <div class="blocks container">
        <div>
            <span class="logo">IT-ОФФЕР</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div>
            <h4>Contact us</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p>+908 89097 890</p>
        </div>
    </div>
    <hr>
    <p>Copyright ® 2021 Lorem All rights Rcerved</p>
</footer>
