<header class="container">
    <span class="logo">IT-ОФФЕР</span>
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="vacancies.html">Вакансии</a></li>
            <li><a href="profile.html">Профиль</a></li>
            <li>
                <button id="toggleButton">Контакты</button>
                <div id="dropdown" class="dropdown-content">
                    <ul class="dropdown-list">
                        <li><a href="tel:+79120214817">+7-912-021-48-17</a></li>
                        <li><a href="mailto:itoffer.team@gmail.com">itoffer.team@gmail.com</a></li>
                        <li><a href="https://t.me/skreenshot_sk">Telegram</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <h3><%= title %></h3>
</header>
