<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'nonce-<%= nonce %>' https://cdnjs.cloudflare.com; style-src 'self' https://fonts.googleapis.com https://cdnjs.cloudflare.com 'unsafe-inline'; font-src 'self' https://fonts.gstatic.com; connect-src 'self' http://localhost:8000 https://example.com; img-src 'self' data:;">
    <link rel="stylesheet" href="/assets/css/style_index.css">
    <link rel="stylesheet" href="/assets/css/style_common.css">
    <title>IT-ОФФЕР - быстрый поиск работы для айтишников</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>

        <div class="hero container">
            <div class="hero--info">
                <h2>Уникальная платформа для поиска работы и найма</h2>
                <h1>Быстрый поиск работы для IT-специалистов</h1>
                <p>Присоединяйтесь к сообществу профессионалов: находите работу мечты или талантливых специалистов для вашего проекта.</p>
                <% if (!user) { %>
                    <a href="/auth/login"><button class="btn">Авторизация</button></a>
                <% } %>
            </div>
            <img src="/assets/images/index.png" alt="">
        </div>        
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>