<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'nonce-<%= nonce %>' https://cdnjs.cloudflare.com; style-src 'self' https://fonts.googleapis.com https://cdnjs.cloudflare.com 'unsafe-inline'; font-src 'self' https://fonts.gstatic.com; connect-src 'self' http://localhost:8000 https://example.com; img-src 'self' data:;">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/assets/css/style_common.css">
    <link rel="stylesheet" href="/assets/css/style_login.css">
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>

        <main>
            <h3>Авторизация</h3>
            <section class="form-section">
                <form action="/auth/login" method="post">
                    <div class="input-group">                        
                        <input type="email" id="email" name="email" required placeholder="Enter your email">
                    </div>
    
                    <div class="input-group">                        
                        <input type="password" id="password" name="password" required placeholder="Enter your password">
                        <img src="/assets/images/eyeclose.png" id="eyeicon">
                    </div>
    
                    <div class="input-group">
                        <label for="rememberMe">
                            <input type="checkbox" id="rememberMe" name="rememberMe"> Запомнить меня
                        </label>
                    </div>
    
                    <button type="submit">Войти</button>
                </form>
                <p><a href="/register">Зарегистрироваться</a></p>
                <p><a href="/auth/forgot-password">Забыли пароль?</a></p>
            </section>            
        </main>
    </div>

    <%- include('partials/footer') %>

    <script nonce="<%= nonce %>">
        let eyeicon = document.getElementById("eyeicon");
        let password = document.getElementById("password");
        eyeicon.onclick = function(){
            if (password.type=="password"){
                password.type="text";
                eyeicon.src = "/assets/images/eyeopen.png"
            }
            else{
                password.type="password";
                eyeicon.src = "/assets/images/eyeclose.png"
            }
        }
    </script>

</body>
</html>