<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои резюме</title>
    <link rel="stylesheet" href="assets/css/style_common.css">
    <link rel="stylesheet" href="assets/css/style_vacancies.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="container">
                <span class="logo"><a href="index.html">IT-ОФФЕР</a></span>
                <nav>
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="vacancies.html">Вакансии</a></li>
                        <li><a href="cv.html">Резюме</a></li>
                        <li><a href="profile.html">Профиль</a></li>
                        <li>
                            <button id="toggleButton">Контакты</button>
                            <div id="dropdown" class="dropdown-content">
                                <ul class="dropdown-list">
                                    <li><a href="tel:+79120214817">+7-912-021-48-17</a></li>
                                    <li><a href="mailto:itoffer.team@gmail.com">itoffer.team@gmail.com</a></li>
                                    <li><a href="https://t.me/skreenshot_sk">Telegram</a></li>
                                </ul>
                            </div>
                        </li>
                        <script src="scripts/script.js"></script>
                    </ul>
                </nav>
                
            </header>
            <main>
                <h3>Мои вакансии</h3>
                <section class="vacancies-section">
                    <div id="vacanciesList" class="vacancies-list">
                        <% vacancies.forEach(function(vacancy) { %>
                            <div class="vacancy" data-salary="<%= vacancy.salary_max %>" data-skills="<%= vacancySkills.filter(skill => skill.vacancy_id === vacancy.vacancy_id).map(skill => skill.skill_name).join(',') %>">
                                <h3><%= vacancy.title %></h3>
                                <p>Компания: <%= vacancy.company_name %></p>
                                <p>Зарплата: <%= vacancy.salary_max %> ₽</p>
                                <p>Описание: <%= vacancy.description %></p>
                                <p>Ключевые навыки: </p>
                                <% vacancySkills.filter(skill => skill.vacancy_id === vacancy.vacancy_id).forEach(function(skill) { %>
                                    <p><%= skill.skill_name %></p>
                                <% }) %>
                                <div class="extended-description" style="display: none;">
                                    <p>Расширенное описание:</p>
                                    <p><%= vacancy.extended_description || 'Не указано' %></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>                
                </section>
            </main>
        </div>        
    </div>

    <footer>
        <div class="blocks container">
            <div>
                <span class="logo">IT-ОФФЕР</span>
            </div>
            <div>
                <h4>Contact us</h4>
                <p>itoffer.team@gmail.com</p>
                <p><a href="https://t.me/skreenshot_sk">Telegram</a></p>
            </div>
        </div>
        <hr>
        <p>Copyright ® 2024 IT-OFFER</p>
    </footer>
    
</body>
</html>