.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-section input[type="text"]:focus,
.form-section input[type="email"]:focus,
.form-section input[type="password"]:focus {
    border-color: #FA8305;
    outline: none;
}

.form-section .disabled {
    opacity: 0.5;
    pointer-events: none;
}