.create-resume-section {
    padding: 20px;
    border-radius: 5px;
}

.create-resume-section form {
    display: flex;
    flex-direction: column;
}

.create-resume-section label {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
}

.create-resume-section input[type="text"],
.create-resume-section input[type="email"],
.create-resume-section input[type="tel"],
.create-resume-section input[type="url"],
.create-resume-section textarea,
.create-resume-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.checkbox-list {
    max-height: 150px; /* Установите максимальную высоту для отображения части списка */
    overflow-y: auto; /* Добавьте полосу прокрутки */
    border: 1px solid #000000;
    padding: 10px;
    width: 200px;
    margin-bottom: 25px;
}