/* Стили для опций фильтра */
.filter-options {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}



/* Стили для списка вакансий */
/* Стили для секции вакансий */
.vacancies-section {
    padding: 20px;
    border-radius: 8px;
}

.vacancies-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Стили для опций фильтра */
.filter-options {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.filter-options label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.filter-options input {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-options .apply-filter-button {
    width: 200px;
}

.filter-button {
    width: 200px;
    margin-bottom: 20px;
}

/* Стили для списка вакансий */
.vacancies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.vacancy {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vacancy:hover {
    background-color: #c2bdbd;
}

.vacancy h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.vacancy p {
    margin: 5px 0;
    font-size: 16px;
    color: #000000;
}
.vacancy ul li  {
    color: #000000;
}

.vacancy button {
    margin: 0 auto;
    margin-top: 10px;
}

.checkbox-list {
    max-height: 150px; /* Установите максимальную высоту для отображения части списка */
    overflow-y: auto; /* Добавьте полосу прокрутки */
    border: 1px solid #000000;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 25px;
}
